<div class="container">
    <form #myForm="ngForm">
     <div class="card m-3">
       <div class="card-header bg-primary">BOOK UPDATE FORM</div>
       <div class="card-body">
        <div class="mb-3 mt-3">
            Book ID : {{ updateBook.id }}
        </div>
           <div class="mb-3 mt-3">
               <label for="bTitle" class="form-label">Book Title:</label>
               <input 
                   type="text" 
                   class="form-control" 
                   id="bTitle" 
                   placeholder="Enter book title" 
                   name="bookTitle"
                   [(ngModel)]="updateBook.bookTitle"
                   required
                   minlength="2"
                   maxlength="200"
                   #bkTitle="ngModel"
                   (change)="logTheChanges(myForm)">
                <div *ngIf="!bkTitle.valid" class="text-danger small">
                    Book Title is required!
                </div>
           </div>
           <div class="mb-3">
               <label for="bAuthor" class="form-label">Book Author:</label>
               <input 
                   type="text" 
                   class="form-control" 
                   id="bAuthor" 
                   placeholder="Enter book author" 
                   name="bookAuthor"
                   required
                   #bkAuthor="ngModel"
                   [(ngModel)]="updateBook.bookAuthor">
                <div *ngIf="!bkAuthor.valid" class="text-danger small">
                    Book Author is required!
                </div>
           </div>
           <div class="mb-3">
               <label for="bGenre" class="form-label">Book Genre:</label>
               <input 
                   type="text" 
                   class="form-control" 
                   id="bGenre" 
                   placeholder="Enter book genre" 
                   name="bookGenre"
                   #bkGenre="ngModel"
                   [(ngModel)]="updateBook.bookGenre"
                   required>
                <div *ngIf="!bkGenre.valid" class="text-danger small">
                    Book Genre is required!
                </div>
           </div>
           <div class="mb-3">
               <label for="bCost" class="form-label">Book Cost:</label>
               <input 
                   type="text" 
                   class="form-control" 
                   id="bCost" 
                   placeholder="Enter book cost" 
                   name="bookCost"
                   #bkCost="ngModel"
                   [(ngModel)]="updateBook.bookCost"
                   required>
                <div *ngIf="!bkCost.valid" class="text-danger small">
                    Book Cost is required!
                </div>
           </div>
           <div class="mb-3">
               <label for="bImage" class="form-label">Book Image Url:</label>
               <input 
                   type="text" 
                   class="form-control" 
                   id="bImage" 
                   placeholder="Enter book image url" 
                   name="bookImage"
                   #bkImage="ngModel"
                   [(ngModel)]="updateBook.bookImage"
                   required>
                <div *ngIf="!bkImage.valid" class="text-danger small">
                    Book Image is required!
                </div>
           </div>
       </div>
       <div class="card-footer bg-primary">
           <button 
               type="button" 
               class="btn btn-warning" 
               (click)="updateBookInfo()"
               [disabled]="!myForm.valid">Update Book</button>
       </div>
     </div>
    </form>
   </div>
